<div class="container">
  <div class="row">
    {% for occasion in site.data.albums %}
      {% if page.occasion == occasion.occasion.title %}
      <div class="col-md-12">
        <div class="occasion">
          <h2>{{ occasion.occasion.title }}</h2>
          <p>Date: {{ occasion.occasion.date }}</p>
          <div class="images">
            <div class="row">
              {% for image in occasion.occasion.images %}
                <div class="col-md-3">
                  <div class="image mt-3">
                    {% include figure.html path=image.src class="img-fluid rounded z-depth-1" alt=image.alt zoomable=true %}
                    <div class="caption text-center">{{ image.alt }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>