<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Reading List</h5>
          <div class="table-container" style="max-height: 600px; overflow-y: auto; border: 1px solid #CCCCCC;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Paper Title</th>
                  <th>Links</th>
                  <th>Speaker</th>
                </tr>
              </thead>
              <tbody>
                {% assign sorted_items = site.data.reading | sort: 'date' | reverse %}
                {% for item in sorted_items %}
                  {% if item.paper_link or item.attachments_link %}
                    <tr>
                      <td>{{ item.date | date: "%d-%m-%Y" }}</td>
                      <td>{{ item.paper_title }}</td>
                      <td>
                        {% if item.paper_link %}
                          <a href="{{ item.paper_link }}">[Paper]</a>
                        {% endif %}
                        {% if item.attachments_link %}
                          <a href="{{ item.attachments_link }}">[Attachment]</a>
                        {% endif %}
                      </td>
                      <td>{{ item.speaker }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>