<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Reading List</h5>
          <div class="table-container" style="max-height: 600px; overflow-y: auto; border: 1px solid #CCCCCC; padding: 5px">
            <table
              data-click-to-select="true"
              data-height="580"
              data-pagination="true"
              data-search="true"
              data-toggle="table"
              data-url="{{ '/assets/json/table_data.json' | relative_url }}"
              data-sort-name="date"
              data-classes="table table-bordered table-hover table-striped"
              data-sort-order="desc">
              <thead>
                <tr>
                  <th data-field="date" data-halign="center" data-align="center" data-sortable="true">Date</th>
                  <th data-field="paper_title" data-halign="center" data-align="center" data-sortable="true">Paper Title</th>
                  <th data-field="paper_link" data-halign="center" data-align="center" data-sortable="true" data-formatter="linkFormatter">Paper Link</th>
                  <th data-field="attachments_link" data-halign="center" data-align="center" data-sortable="true" data-formatter="linkFormatter">Attachments Link</th>
                  <th data-field="speaker" data-halign="center" data-align="center" data-sortable="true">Speaker</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var table = new bootstrapTable.BootstrapTable(document.querySelector('table'));

    table.init();
  });

  function linkFormatter(value, row) {
    if (value) {
      return '<a href="' + value + '" target="_blank" onclick="return true;">' + '[' + (row.attachments_link === value ? 'Attachment' : 'Paper') + ']</a>';
    }
    return '';
  }
</script>