/* custom.css */
.custom-slider-container {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Optional: Hide overflow if the slider's content exceeds the fixed height */
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.fixed-card {
  width: 100%; /* Make it full-width on all devices */
  max-width: 800px; /* Set a maximum width to maintain readability */
  min-height: 600px; /* Minimum height */
}

.card-title-bottom {
  margin-top: auto;
}