---
layout: default
---

<div class="post">


    <!-- <header class="post-header">
        <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
    </header> -->

    <header class="post-header">

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1 class="post-title">
                {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
            </h1>
            
            <!-- <div style="border: 2px solid #e8e8e8; padding: 5px; border-radius: 10px;">
                <img src="{{ '/assets/img/lingo_iitgn.png' | relative_url }}" alt="Logo" style="width: 100px; height: auto;">
            </div> -->
        </div>
        <p class="desc">{{ page.subtitle }}</p>
    </header>

    <article>
        <div class="clearfix" style="text-align: justify;">
            {{ content }}
        </div>

        <!-- News -->
        {% if page.news and site.announcements.enabled -%}
        <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
        {%- include news.html limit=true %}
        {%- endif %}

        <!-- Latest posts -->
        <!-- {% if page.latest_posts -%}
        <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
        {%- include latest_posts.html %}
        {%- endif %} -->

        <!-- Selected papers -->
        {% if page.selected_papers -%}
        <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
        {%- include selected_papers.html %}
        {%- endif %}

        <!-- Social -->
        {%- if page.social %}
        <div class="social">
            <div class="contact-icons">
                {% include social.html %}
            </div>

            <div class="contact-note">
                {{ site.contact_note }}
            </div>
        </div>
        {%- endif %}
    </article>
</div>
